@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap");
@font-face {
  font-family: "nexa light";
  src: url(../fonts/Nexa-ExtraLight.ttf);
}
@font-face {
  font-family: "nexa bold";
  src: url(../fonts/Nexa-Heavy.ttf);
}
#bottom-bar, #box {
  background: url(../images/bg-content-noise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  background: black url("../images/bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "nexa light";
}

header {
  background: transparent;
}
header a {
  color: white;
  text-decoration: none;
  outline: 0;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  text-underline-offset: 6px;
  transition: color 0.3s;
  font-size: 13px;
}
header a:hover {
  color: #FFF04B;
}
header img {
  width: 150px;
}
header ul {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1rem;
}
header .active {
  color: #FFF04B;
  text-decoration: underline;
  font-weight: bold;
}

#box {
  width: 100%;
  height: 30vw;
  margin-top: 5vw;
  color: #AAAAAA;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 3vw 1vw;
  overflow-y: scroll;
}
#box::-webkit-scrollbar {
  display: none;
}

#bottom-bar {
  border-radius: 0 0 1.5rem 1.5rem;
}
#bottom-bar ul {
  display: flex;
  align-items: center;
  padding: 0.5vw 1.5rem;
  flex-wrap: wrap;
}
#bottom-bar a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1vw;
  font-weight: bold;
}
#bottom-bar a:hover {
  color: #FFF04B;
}

@media screen and (max-width: 480px) {
  #bottom-bar ul {
    padding: 1rem 2rem;
  }
  #bottom-bar a {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  header a {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  header {
    flex-wrap: wrap;
  }
}
#bottom-bar a {
  font-size: 14px;
}

.item {
  margin-bottom: 4rem;
  cursor: pointer;
}
.item span {
  position: relative;
  color: #FFF04B;
  margin-bottom: 10px;
  margin-left: calc(1vw + 2rem);
  font-weight: bold;
}
.item img {
  position: relative;
  width: 320px;
  height: 250px;
  border-radius: 15px;
}

.selectedItem h1 {
  color: #FFF04B;
  font-weight: bold;
  margin-bottom: 2rem;
}
.selectedItem h6 {
  font-family: "nexa bold";
  font-weight: bold;
}
.selectedItem h4 {
  color: #555555;
  font-weight: bold;
}
.selectedItem article {
  color: #AAAAAA;
}
.selectedItem article p {
  font-family: "Anek Devanagari", sans-serif;
}
.selectedItem .other-item {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: red;
}
.selectedItem iframe {
  min-height: 450px;
}

#cases-container div {
  position: relative;
  border-radius: 20px;
}
#cases-container div:hover img {
  filter: brightness(100%);
}
#cases-container div:hover span {
  color: #FFF04B;
}
#cases-container span {
  left: 10px;
  bottom: 10px;
  position: absolute;
  cursor: pointer;
  color: #555555;
  font-family: "Anek Devanagari", sans-serif;
}
#cases-container img {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  filter: brightness(40%);
  cursor: pointer;
  transition: filter 0.3s;
}

#myCarousel {
  display: inline;
  width: 100%;
  height: 200px;
  --f-progress-color: none;
}
#myCarousel .f-carousel__viewport {
  height: auto;
}
#myCarousel .f-carousel__nav {
  display: none;
}
#myCarousel .f-carousel__dots {
  gap: 1rem;
}
#myCarousel .f-carousel__dots button {
  color: #FFF04B;
  margin-top: -5rem;
}
#myCarousel .f-carousel__dots button span {
  width: 100%;
  height: 2px;
  border-radius: 0;
}
#myCarousel img {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .item span {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 1024px) {
  #box {
    height: 400px;
  }
}/*# sourceMappingURL=our-works.css.map */