@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap");
@font-face {
  font-family: "nexa light";
  src: url(../fonts/Nexa-ExtraLight.ttf);
}
@font-face {
  font-family: "nexa bold";
  src: url(../fonts/Nexa-Heavy.ttf);
}
#bottom-bar, #box {
  background: url(../images/bg-content-noise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  background: black url("../images/bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "nexa light";
}

header {
  background: transparent;
}
header a {
  color: white;
  text-decoration: none;
  outline: 0;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  text-underline-offset: 6px;
  transition: color 0.3s;
  font-size: 13px;
}
header a:hover {
  color: #FFF04B;
}
header img {
  width: 150px;
}
header ul {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1rem;
}
header .active {
  color: #FFF04B;
  text-decoration: underline;
  font-weight: bold;
}

#box {
  width: 100%;
  height: 30vw;
  margin-top: 5vw;
  color: #AAAAAA;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 3vw 1vw;
  overflow-y: scroll;
}
#box::-webkit-scrollbar {
  display: none;
}

#bottom-bar {
  border-radius: 0 0 1.5rem 1.5rem;
}
#bottom-bar ul {
  display: flex;
  align-items: center;
  padding: 0.5vw 1.5rem;
  flex-wrap: wrap;
}
#bottom-bar a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1vw;
  font-weight: bold;
}
#bottom-bar a:hover {
  color: #FFF04B;
}

@media screen and (max-width: 480px) {
  #bottom-bar ul {
    padding: 1rem 2rem;
  }
  #bottom-bar a {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  header a {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  header {
    flex-wrap: wrap;
  }
}
.active-title {
  color: #FFF04B !important;
  font-weight: bold !important;
}

#titleContent span {
  font-size: 5vw;
  color: #555555;
  transition: color 0.3s;
  text-wrap: nowrap;
  cursor: pointer;
}
#titleContent span:hover {
  color: #FFF04B;
}

#articleContent {
  width: 35%;
}
#articleContent article {
  margin-bottom: 5vw;
  font-size: 0.8vw;
}
#articleContent article p {
  font-family: "Anek Devanagari", sans-serif;
}
#articleContent article h6 {
  font-size: 0.8vw;
  font-weight: bold;
  font-family: "nexa bold";
}
#articleContent img {
  width: 4vw;
  margin-left: 0.3vw;
  margin-top: -1.5vw;
}

#titleContent {
  width: 40%;
}

.fixed-img img {
  position: absolute;
  margin-left: 10vw;
  margin-top: 9vw;
  width: 12vw;
  height: 12vw;
  border-radius: 1.5rem;
  background: #FFF04B;
}

@media screen and (max-width: 479px) {
  #box {
    min-height: 400px;
    padding: 1rem;
  }
  #articleContent {
    width: 100%;
    margin-top: 3rem;
  }
  #articleContent img {
    width: 60px;
    margin-left: 0;
    margin-top: -1.5rem;
  }
  #articleContent article {
    margin-bottom: 5vw;
    font-size: 1rem;
  }
  #articleContent article h6 {
    font-size: 1rem;
  }
  #titleContent {
    width: 100%;
  }
  #titleContent span {
    font-size: 2rem;
    text-wrap: nowrap;
  }
  #bottom-bar ul {
    padding: 1rem 1rem;
  }
  .fixed-img img {
    position: static;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=slider.css.map */